table {
  border: solid 3px #ccc;
  margin: 0 auto;
}

td {
  height: 40px;
  width: 40px;
  border: solid 1px #ccc;
  text-align: center;
}

#space {
  text-align: center;
}

#word, #word_alphabet {
  width: 100%;
  height: 50px;
  text-align: center;
  font-size: 3em;
  border: solid 2px #777;
  background: #ddd;
  padding: 30px 0;
}


